@tailwind base;
@tailwind components;
@tailwind utilities;

.github {
  font-size: 3rem;
  background-color: #000;
  border-radius: 222px;
  border: solid 1px #fff;
  color: #fff;
  transition: 0.5s;
  margin: 15px auto;
}

.github:hover {
  background-color: #fff;
  color: #000;
}

.linkedin {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #fff;
  color: #0e76a8;
  transition: 0.5s;
  margin: 15px auto;
}

.linkedin:hover {
  border: solid 1px #0e76a8;
  background-color: #0e76a8;
  color: #fff;
}
